*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#050014;
  color:white;
  min-height:100vh;
  overflow-x:hidden;
}

/* Navbar */

header{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 80px;
}


nav ul{
  display:flex;
  list-style:none;
  gap:35px;
}

nav ul li a{
  text-decoration:none;
  color:white;
  font-size:15px;
  transition:0.3s;
}

nav ul li a:hover,
.active{
  color:#ff2d75;
}

/* Hero Section */

.hero{
  width:100%;
  min-height:85vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 80px;
  position:relative;
}

/* Background Glow */

.hero::before{
  content:"";
  position:absolute;
  width:500px;
  height:500px;
  background:radial-gradient(circle,#ff006a,#4b0082);
  filter:blur(120px);
  top:50px;
  left:25%;
  opacity:0.4;
  z-index:-1;
}

.hero-text{
  width:50%;
}

.hero-text h4{
  color:#ccc;
  margin-bottom:20px;
  font-size:20px;
}

.hero-text h1{
  font-size:70px;
  margin-bottom:20px;
}

.hero-text p{
  color:#c7c7c7;
  line-height:1.8;
  margin-bottom:30px;
  width:80%;
}

.btn{
  display:inline-block;
  padding:15px 30px;
  border:2px solid white;
  border-radius:40px;
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.btn:hover{
  background:#ff2d75;
  border-color:#ff2d75;
}

.hero-image{
  width:40%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-image img{
  width:350px;
  position:relative;
  z-index:2;
}


@media(max-width:900px){

  header{
    padding:20px;
    flex-direction:column;
    gap:20px;
  }

  nav ul{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero{
    flex-direction:column;
    text-align:center;
    padding:20px;
  }

  .hero-text{
    width:100%;
  }

  .hero-text p{
    width:100%;
  }

  .hero-image{
    width:100%;
    margin-top:50px;
  }

  .hero-text h1{
    font-size:45px;
  }

}
.contact-form{
  max-width:500px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form input,
.contact-form textarea{
  padding:14px;
  border:none;
  border-radius:8px;
  font-size:15px;
}

.contact-form textarea{
  height:120px;
  resize:none;
}